# Template file for environment variables required to run URSUS.

RAILS_ENV=development

#####################################
# Authentication mode configuration #
#####################################

# There are three available authentication modes: DEMO, DEVISE, and SITEMINDER.
# DEMO has no authentication, simply generating a fresh account
# per user session in its own sandbox.
# DEVISE is a common Rails gem that gives basic registration/login pages.
# SITEMINDER is for mimicking DOJ production infrastructure,
# where the DOJ handles auth through an installation
# of enterprise software called Siteminder, passing an encrypted
# cookie to our app.
LOGIN_MECHANISM=DEMO
#LOGIN_MECHANISM=DEVISE
#LOGIN_MECHANISM=SITEMINDER

# These are needed if you are using a LOGIN_MECHANISM=SITEMINDER.
# Otherwise they are ignored.
# Contact everett@bayes.org or alex@bayes.org if you need the production keys,
# but for testing any 48-character hex string will work for DECRYPT_KEY
# and any 16-character hex string will work for DECRYPT_INIT_V
SITEMINDER_DECRYPT_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
SITEMINDER_DECRYPT_INIT_V=AAAAAAAAAAAAAAAA
SITEMINDER_PATH_ACCOUNT="#"
SITEMINDER_PATH_LOGOUT="#"

# If you want to change the strings that are used in defining user roles,
# override them here. You can almost definitely ignore these.
#ROLE_USER=user
#ROLE_ADMIN=admin
#ROLE_DOJ=doj

# All incidents will have a unique ID generated, which begin
# with this prefix
INCIDENT_ID_PREFIX=BRIDGE

############
# API Keys #
############

# Should work with no API key for minor testing. Otherwise get
# a key for the Google Maps JavaScript API.
#GOOGLE_MAPS_API_KEY=

#######################
# Email configuration #
#######################

# Configure email. Currently only the feedback (Help)
# part of the app does any email sending.
MAIL_FROM="Bridge Development App" <bridge-devel@example.com>
FEEDBACK_MAIL_TO="Bridge Staff" <bridge-staff@example.com>

# Configure mail servers if in production.
#SMTP_SERVER_ADDRESS=
#SMTP_SERVER_PORT=25
#SMTP_USERNAME=
#SMTP_PASSWORD=

#####################################
# Other app configuration           #
#####################################

# Branding can be:
# - whitelabel (e.g. https://demo-bridge-uof.bayesimpact.org)
# - ursus (e.g. http://ursusdemo.doj.ca.gov/)
BRANDING=whitelabel

# All incidents will have a unique ID generated, which begin
# with this prefix
INCIDENT_ID_PREFIX=BRIDGE

##########################################################
# Advanced configuration (generally for production only) #
##########################################################

# Generate a secret key via `rails secret` for production
#SECRET_KEY_BASE=

# Configure AWS, if in production
#AWS_REGION=
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=

# Configure DynamoDB (the default table prefix is "ursus_#{Rails.env}")
#DYNAMO_TABLE_PREFIX=ursus

# If in production on a DOJ server, set DOJ_HOST so that redirects are handled properly
# (see ActionController::Redirecting in application_controller.rb).
#DOJ_HOST=

# "Fast-forward" lets you type ctrl+shift+f on a form page to have
# it automatically filled out. It is enabled by default in development
# mode, and disabled otherwise, unless the variable below is set to true.
#ENABLE_FAST_FORWARD=true

# Normally, the aws configuration depends on the rails environment
# and its mattching settings in config/aws.yml
# If you set the variable below to true, then the app will use the
# 'development' settings from config/aws.yml no matter the rails
# environment. Only really useful if you need to run a local database
# in a 'production' environment (like a public demo site).
#USE_DEVELOPMENT_AWS_KEYS=true

# By default, the app creates tables for tracking user sessions
# and events. To disable this behavior, uncomment the line below.
#DISABLE_TRACKING=true
