<div id="overviewPane">
  <h1>Welcome, <%= @current_user.full_name %></h1>
  <h3 class="overview-agency-header">Department of Justice</h3>
  <p>You are a DOJ superuser. Use the menu on the left to
    perform your duties. You can
    open and close the submission window,
    see which agencies have submitted,
    view and edit incidents submitted by police agencies,
    and analyze the incident submissions in aggregate.
  </p>
</div>
