<!DOCTYPE html>
<html>
<%= render "layouts/partials/head" %>
<body id="splash-one-col" class="maintenance">
    <div class="inner">
        <% if Rails.configuration.x.branding.ursus? %>
            <img src="<%= asset_path('ursus_logo.png') %>" />
        <% else %>
            <img src="<%= asset_path('bayes_bridge_uof_600px.png') %>" />
        <% end %>
        <h1>Down for Maintenance</h1>
        <p><%= Rails.configuration.x.branding.ursus? ? 'URSUS' : 'Bridge UOF' %> is temporarily down for routine maintenance.</p>
        <p>Please come back in an hour.</p>
    </div>
</body>
</html>
