#incidentStep.review {
  .incident-status {
    display: none;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #C0E1F8;
  }

  .review-table {
    max-width: 760px;
  }

  th, td {
    height: 30px;
    padding: 0;
    padding-left: 5px;
    line-height: 30px;
    vertical-align: middle;
  }

  .review-table-key {
    width: 250px;
    padding-left: 30px;
    position: relative;
    vertical-align: top;
  }

  h1 {
    display: inline-block;
  }

  .review-edit, .review-delete {
    float: right;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    margin-bottom: 7px;
    font-size: 14px;
    padding: 0 14px;
    border: none;
    border-radius: 3px;
    color: white;
  }

  .review-edit {
    background-color: $header-text-color;
  }

  .review-delete {
    margin-left: 7px; // Separate the two buttons
    background-color: $color-secondary-darkest-18f
  }

  .fbi-seal {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: Transparent;
    background: url(asset-path('fbi-bw-large.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
  }

  .review-submit {
    margin-bottom: 0;
  }

  #auditLog {
    display: none;
  }

  #showHideAuditLog {
    margin-left: 1em;
    cursor: pointer;
  }

  #review-submit-explanation {
    margin-left: 20px;
  }

  #delete-incident-link {
    margin-top: 15px;
  }
}