<% if alert %>
<p id="alert" class="alert alert-danger alert-dismissable"><%= alert %>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</p>
<% end %>