<% if notice %>
<p id="notice" class="alert alert-success alert-dismissable"><%= notice %>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</p>
<% end %>