<%= title "Thank you" %>

<div id="incidentStep">

<h1 class="incident-step-header">Thank you for your feedback, we'll get back to you soon!</h1>

<%= link_to 'Back to Dashboard', '/', class: 'btn-bayes' %>

</div>
